<h1> Ad Index Page</h1>
<%= link_to "New Ad", new_advertisement_path(@post), class: 'btn btn-success' %>
<% @advertisements.each do |ads| %>
    <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
         <%=link_to ads.title, ads %>
      </h4>
    </div>
  </div>
<% end %>